/* 
1.PROPERTI BORDER

Properti border sendiri terdiri dari tiga bagian, yaitu jenis border border-style, 
ukuran border border-with, dan warna border border-color. 
Properti border juga dapat disingkat menjadi satu baris dengan menggunakan kode berikut:

border : [ukuran] [jenis] [warna]


2. JENIS BORDER

Jenis border pada CSS dapat diatur dengan properti border-style. 
Beberapa jenis border yang umum digunakan antara lain:

solid - garis lurus dan solid.
dashed: garis putus-putus.
dotted: garis titik-titik.
double: garis ganda.
groove: garis bercorak tiga dimensi seperti terlihat dari dalam lubang.
ridge: garis bercorak tiga dimensi seperti terlihat dari luar lubang.
inset: garis bercorak tiga dimensi seperti terlihat masuk ke dalam lubang.
outset: garis bercorak tiga dimensi seperti terlihat keluar dari lubang.


3. UKURAN BORDER

Ukuran border pada CSS dapat diatur dengan properti border-width. 
Ukuran border dapat diatur dalam nilai pixel (px), presentase (%), 
atau ukuran lain seperti thin, medium, dan thick.

Contoh penggunaan ukuran border:

#contoh {
    border-width: 2px;
  }


4. WARNA BORDER

Warna border pada CSS dapat diatur dengan properti border-color. Warna border dapat diatur dengan nama warna seperti red, blue, 
dan green, atau dengan kode warna seperti #ff0000, #0000ff, dan #00ff00.

#contoh {
    border-color: black;
  }

*/

body {
    background-color:#E7E9EB;
}

#myDIV {
    width:100%;
    height:300px;
    background-color:#FFFFFF;
    border:5px solid;
    border-style: dashed;
}