/* elemen a akan menempati sebagian baris pada halaman web dan memiliki jarak padding 10px, border 1px solid hitam, serta latar belakang warna abu-abu */.

  a {
    display: inline;
    padding: 10px;
    border: 1px solid #000000;
    background-color: #f5f5f5;
  }
  