*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.container{
    background-color: #FEFAE0;
}
.text-center{
    text-align: center;
}
.header{
    background-color:#798645 ;
    padding-top: 10px;
    padding-bottom: 15px;
    color: #F2EED7;
}
.judul{
    padding-bottom: 20px;
}
.profil{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.tentang-saya{
    padding-top: 10px;
    padding-bottom: 10px;
}
.peng-kerja{
text-align: center;
padding-top: 25px;
padding-bottom: 15px;
}
.table-center{
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

}
table, th, td {
    padding: 5px;
    border: 3px solid #798645;
    border-collapse: collapse;
  }