/* Gaya untuk kontainer proyek dan pengalaman */
#project-container, #experience-container {
    margin-top: 20px;
}

.project-item, .experience-item {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 4px solid #2980b9;
    border-radius: 5px;
}

.project-item h3, .experience-item h3 {
    color: #2980b9;
    margin: 0;
}

.year {
    font-style: italic;
    color: #666;
}
